<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
<uses-permission android:name="android.permission.INTERNET"/>

<application>

    <service
        android:name=".service.ReminderService"
        android:exported="false"/>

    <receiver
        android:name=".receiver.AlarmReceiver"
        android:exported="false"/>

</application>
